.component-body {
    display: flex;
    flex-direction: column;
    width: calc(100% - 12.5rem);
}


.header {
    box-sizing: border-box;
    min-height: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: small;
    background-image: linear-gradient(to bottom right, rgb(104, 104, 104), rgb(36, 36, 36));
    padding: 1rem;

    .crumb {
        display: inline;
        box-sizing: border-box;
        margin: 0.4rem 0.4rem 0.4rem 0.4rem;
        padding: 0.3rem 0.4rem;
        background-image: linear-gradient(to bottom right, rgb(147, 143, 143), rgb(73, 72, 72));
        font-weight: 500;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;
        color: white;

        :hover {
            cursor: pointer;
            color: white;
            font-weight: bolder;
            transform: scale(1.1);
        }
    }

    .crumb-btn {
        color: white;
        text-decoration: none;

        :link {
            color: white;
            text-decoration: none;
        }
    }

    li:last-of-type {
        background-image: linear-gradient(to bottom right, dodgerblue, rgb(92, 171, 251));
        pointer-events: none;
        cursor: default;
    }


    input {
        padding: 0.3rem;
        min-width: 40%;
        border-radius: 0.4rem;
        background-image: linear-gradient(to bottom right, rgb(147, 143, 143), rgb(73, 72, 72));
        color: white;
    }

    input::placeholder {
        opacity: 1;
        color: rgb(180, 179, 179);
    }

    input:hover {
        cursor: pointer;
        background-image: linear-gradient(to bottom right, rgb(181, 175, 175), rgb(73, 72, 72));

    }

}