.component-body {
    display: flex;
    flex-direction: column;
    border: 2px solid greenyellow;
    width: calc(100% - 200px);
}


.header {
    box-sizing: border-box;
    border: 2px solid yellow;
    min-height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: small;
    background-image: linear-gradient(to bottom right, rgb(104, 104, 104), rgb(36, 36, 36));


    li{
        display: inline;
        box-sizing: border-box;
        margin: 6px 6px 6px 30px;
        padding: 4px 6px;
        background-image: linear-gradient(to bottom right, rgb(147, 143, 143), rgb(73, 72, 72));
        font-weight: 500;
        border-radius: 5px;
        box-shadow: 5px 5px 5px black;

        :link {
            color: white;
            text-decoration: none;
        }

        :hover {
            cursor: pointer;
            color: white;
            font-weight: bolder;
            transform: scale(1.3);
        }

    }


    li:last-of-type {
        background-image: linear-gradient(to bottom right, dodgerblue, rgb(92, 171, 251));
        margin: 6px 6px 6px 0px;
        pointer-events: none;
        cursor: default;
    }


    input {
        margin: 15px;
        padding: 5px;
        min-width: 40%;
        border-radius: 6px;
        background-image: linear-gradient(to bottom right, rgb(147, 143, 143), rgb(73, 72, 72));
        color: white;
    }

    input::placeholder {
        opacity: 1;
        color: rgb(180, 179, 179);
    }

    input:hover {
        cursor: pointer;
        background-image: linear-gradient(to bottom right, rgb(181, 175, 175), rgb(73, 72, 72));

    }

}