.table-flex {
    display: flex;
    width: 100%;
}

.detailCard {
    min-width: 200px;
    border: 3px solid rgb(43, 43, 43);
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    p{
        padding: 10px 5px;
    }
    td {
        padding: 5px 5px;
    }
    h3{
        font-size: large;
    }
}

.external:hover {
    transform: scale(1.2) translate(8px);
}

.largeFlag {
    img {
        max-width: 50%;
        transform: scale(2);
        padding: 0px 20px;
    }
}

.driverImg {
    max-width: 100px;
}