.table-wrapper {
    background-color: #ababab;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png");
    border: 1px solid rgb(190, 187, 187);
    width: 100%;
    padding: 0.6rem 0;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(57, 54, 54);
    font-weight: bold;
    font-size: medium;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.table-wrapper h3 {
    margin: 0.6rem;
    padding: 0.6rem;
    display: inline-block;
    color: white;
    font-family: "D3 Roadsterism Italic";
    font-size: xx-large;
    text-shadow: 0.3rem 0.3rem 0.5rem black;
}

.table {
    background-color: white;
    min-width: 98%;
    margin-left: 0.6rem;
    border-collapse: collapse;
    padding: 0;
    flex: 1;
    align-items: center;
}

.table th {
    background-color: hwb(0 66% 29% / 0.658);
    color: rgb(86, 80, 80);

}

.table tr:hover {
    transform: scale(1.01);
}

.table tr:nth-child(even) {
    background: linear-gradient(90deg, rgba(245, 245, 245, 1) 0%, rgba(241, 241, 247, 1) 49%, rgba(232, 227, 227, 1) 100%);
}

.table tr:nth-child(odd) {
    background: linear-gradient(90deg, rgba(230, 228, 228, 1) 0%, rgba(218, 218, 221, 1) 49%, rgba(187, 187, 187, 1) 100%);
}

.table th,
.table td {
    border: 1px solid rgb(190, 190, 190);
    padding: 0.6rem 0.5rem;
    text-align: left;
    vertical-align: middle;
}

.driver-info {
    display: flex;
    align-items: center;
}

.flag-icon {
    display: inline;
    margin-right: 0.3rem;
}

.table-thirty {
    max-width: 30%;
}