.welcome{
    h1{
        font-size: 40px;
        margin: 40px auto;
        font-family: "D3 Roadsterism Italic";
        color: white;
        text-shadow: 0.2rem 0.2rem red;
    }
    img {
        width: 50%;
        margin: 0 auto;
        vertical-align: middle;
    }

    h2{
        font-size: 20px;
        font-family:"arial";
        vertical-align: middle;

    }
}












 
